<div class="pull-right hidden-xs">
  <b>Version</b> Ember
</div>
<strong>Built by <a href="https://github.com/shaialon/" target="_blank">Shai Alon</a>.</strong> An Ember.js version of <a href="http://almsaeedstudio.com" target="_blank">Almsaeed Studio - Admin LTE</a>