{{#info-box
  title   = "Inventory"
  metric  = inventory
  color   = "yellow"
  ion   = "ios-pricetag-outline"
  full=true
  responsive = false
}}
  <div class="progress">
    <div class="progress-bar" style="width: 50%"></div>
  </div>
  <span class="progress-description">
    50% Increase in 30 Days
  </span>
{{/info-box}}

{{#info-box
  title   = "Mentions"
  metric  = mentions
  color   = "green"
  ion   = "ios-heart-outline"
  full=true
  responsive = false
}}
  <div class="progress">
    <div class="progress-bar" style="width: 20%"></div>
  </div>
  <span class="progress-description">
    20% Increase in 30 Days
  </span>
{{/info-box}}

{{#info-box
  title   = "Downloads"
  metric  = downloads
  color   = "red"
  ion   = "ios-cloud-download-outline"
  full=true
  responsive = false
}}
  <div class="progress">
    <div class="progress-bar" style="width: 70%"></div>
  </div>
  <span class="progress-description">
    70% Increase in 30 Days
  </span>
{{/info-box}}

{{#info-box
  title   = "Direct messages"
  metric  = messages
  color   = "aqua"
  ion   = "ios-chatbubble-outline"
  full=true
  responsive = false
}}
  <div class="progress">
    <div class="progress-bar" style="width: 40%"></div>
  </div>
  <span class="progress-description">
    40% Increase in 30 Days
  </span>
{{/info-box}}