{{! This file is a modification of html from https://github.com/almasaeed2010/AdminLTE}}
<div class="row">
  <div class="col-md-8">
    <p class="text-center">
    <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
    </p>
    <div class="chart-responsive">
    <!-- Sales Chart Canvas -->
    <canvas id="salesChart" height="180"></canvas>
    </div><!-- /.chart-responsive -->
  </div><!-- /.col -->
  <div class="col-md-4">
    <p class="text-center">
    <strong>Goal Completion</strong>
    </p>
    <div class="progress-group">
    <span class="progress-text">Add Products to Cart</span>
    <span class="progress-number"><b>160</b>/200</span>
    <div class="progress sm">
      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
    </div>
    </div><!-- /.progress-group -->
    <div class="progress-group">
    <span class="progress-text">Complete Purchase</span>
    <span class="progress-number"><b>310</b>/400</span>
    <div class="progress sm">
      <div class="progress-bar progress-bar-red" style="width: 80%"></div>
    </div>
    </div><!-- /.progress-group -->
    <div class="progress-group">
    <span class="progress-text">Visit Premium Page</span>
    <span class="progress-number"><b>480</b>/800</span>
    <div class="progress sm">
      <div class="progress-bar progress-bar-green" style="width: 80%"></div>
    </div>
    </div><!-- /.progress-group -->
    <div class="progress-group">
    <span class="progress-text">Send Inquiries</span>
    <span class="progress-number"><b>250</b>/500</span>
    <div class="progress sm">
      <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
    </div>
    </div><!-- /.progress-group -->
  </div><!-- /.col -->
</div>