{{! This file is a modification of html from https://github.com/almasaeed2010/AdminLTE}}
<div class="row">
	<div class="col-sm-3 col-xs-6">
	  <div class="description-block border-right">
		<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
		<h5 class="description-header">$35,210.43</h5>
		<span class="description-text">TOTAL REVENUE</span>
	  </div><!-- /.description-block -->
	</div><!-- /.col -->
	<div class="col-sm-3 col-xs-6">
	  <div class="description-block border-right">
		<span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
		<h5 class="description-header">$10,390.90</h5>
		<span class="description-text">TOTAL COST</span>
	  </div><!-- /.description-block -->
	</div><!-- /.col -->
	<div class="col-sm-3 col-xs-6">
	  <div class="description-block border-right">
		<span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
		<h5 class="description-header">$24,813.53</h5>
		<span class="description-text">TOTAL PROFIT</span>
	  </div><!-- /.description-block -->
	</div><!-- /.col -->
	<div class="col-sm-3 col-xs-6">
	  <div class="description-block">
		<span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
		<h5 class="description-header">1200</h5>
		<span class="description-text">GOAL COMPLETIONS</span>
	  </div><!-- /.description-block -->
	</div>
</div>