<div class="row">
  <div class="col-md-9 col-sm-8">
    <div class="pad">
      <!-- Map will be created here -->
      {{world-map height=300 data=visitorLocations}}
    </div>
  </div><!-- /.col -->
  <div class="col-md-3 col-sm-4">
    <div class="pad box-pane-right bg-green" style="min-height: 280px">
      <div class="description-block margin-bottom">
        {{!-- <div class="sparkbar pad" data-color="#fff">90,70,90,70,75,80,70</div> --}}
        {{spark-line data = mock1 barColor="#fff" type="bar" class="pad"}}
        <h5 class="description-header">8390</h5>
        <span class="description-text">Visits</span>
      </div><!-- /.description-block -->
      <div class="description-block margin-bottom">
        {{!-- <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div> --}}
        {{spark-line data = mock2 barColor="#fff" type="bar" class="pad"}}
        <h5 class="description-header">30%</h5>
        <span class="description-text">Referrals</span>
      </div><!-- /.description-block -->
      <div class="description-block">
        {{!-- <div class="sparkbar pad" data-color="#fff">90,50,90,70,61,83,63</div> --}}
        {{spark-line data = mock2 barColor="#fff" type="bar" class="pad"}}
        <h5 class="description-header">70%</h5>
        <span class="description-text">Organic</span>
      </div><!-- /.description-block -->
    </div>
  </div>
</div>