{{! This file is a modification of html from https://github.com/almasaeed2010/AdminLTE}}
<div class="callout callout-danger">
<h4>I am a danger callout!</h4>
<p>There is a problem that we need to fix. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
</div>
<div class="callout callout-info">
<h4>I am an info callout!</h4>
<p>Follow the steps to continue to payment.</p>
</div>
<div class="callout callout-warning">
<h4>I am a warning callout!</h4>
<p>This is a yellow callout.</p>
</div>
<div class="callout callout-success">
<h4>I am a success callout!</h4>
<p>This is a green callout.</p>
</div>