<h4 class="page-header">
    AdminLTE Solid Boxes
    <small>We use the base class <code>.box</code> and <code>.box-solid</code> to create solid boxes that look like this.</small>
</h4>
<!-- Solid boxes -->
<div class="row">
  <div class="col-md-4">
    <!-- Default box -->
    {{#box-widget
      title = "default Solid Box"
      colorSceme= "default"
      solid=true
    }}
       Box class: <code>.box.box-default</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Primary box -->
    {{#box-widget
      title = "Primary Solid Box"
      colorSceme= "primary"
      closable = true
      solid=true
    }}
       Box class: <code>.box.box-primary</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Info box -->
    {{#box-widget
      title = "info Solid Box"
      colorSceme= "info"
      closable = true
      solid=true
    }}
       Box class: <code>.box.box-info</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="row">
  <div class="col-md-4">
    <!-- Danger box -->
    {{#box-widget
      title = "Danger Solid Box"
      colorSceme= "danger"
      closable = true
      solid=true
    }}
       Box class: <code>.box.box-danger</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Success box -->
    {{#box-widget
      title = "Success Solid Box"
      colorSceme= "success"
      closable = true
      solid=true
      footer= "widgets/generic-box-footer"
    }}
       Box class: <code>.box.box-success</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Warning box -->
    {{#box-widget
      title = "Warning Solid Box"
      colorSceme= "warning"
      closable = true
      solid=true
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->
</div><!-- /.row -->