<h4 class="page-header">
    AdminLTE Tiles
    <small>To create a tile we create a solid box and a <code>.bg-*</code> class ( * being the name of the color) to the box.</small>
</h4>
<!-- Solid boxes -->
<div class="row">
  <div class="col-md-4">
    <!-- Navy tile -->
    {{#box-widget
      title = "Navy Tile"
      background= "navy"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Primary tile -->
    {{#box-widget
      title = "Primary Tile"
      background= "light-blue"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}

  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Primary tile -->
    {{#box-widget
      title = "Info Tile"
      background= "aqua"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}

  </div><!-- /.col -->
</div><!-- /.row -->



<div class="row">
  <div class="col-md-4">
    <!-- Navy tile -->
    {{#box-widget
      title = "Danger Tile"
      background= "red"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Primary tile -->
    {{#box-widget
      title = "Success Tile"
      background= "green"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}

  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Primary tile -->
    {{#box-widget
      title = "Warning Tile"
      background= "yellow"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}

  </div><!-- /.col -->
</div><!-- /.row -->


<div class="row">
  <div class="col-md-4">
    <!-- Navy tile -->
    {{#box-widget
      title = "Purple Tile"
      background= "purple"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}
  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Primary tile -->
    {{#box-widget
      title = "Blue Tile"
      background= "blue"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}

  </div><!-- /.col -->

  <div class="col-md-4">
    <!-- Primary tile -->
    {{#box-widget
      title = "Marron Tile"
      background= "maroon"
      closable = false
      collapsable = false
    }}
       Box class: <code>.box.box-warning</code>
        <p>
          amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
          berliner weisse wort chiller adjunct hydrometer alcohol aau!
          sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
        </p>
    {{/box-widget}}

  </div><!-- /.col -->
</div><!-- /.row -->