<div class="wrapper">
  {{application-header}}
  {{application-sidebar}}
  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
  	{{outlet}}
  </div><!-- /.content-wrapper -->

  {{application-footer}}

</div><!-- ./wrapper -->



