<section class="content">

	<div class = "row">
		<div class ="col-xs-12">
			{{#box-widget
				title       = "This content is coming soon.."
				closable    = false
				collapsable = false
				background  = "green"
			}}
				This project has recently started and the sections you are looking at has not been implemented yet.<br/>
				Star, Fork, Follow, and keep in touch :)
			{{/box-widget}}
		</div>
	</div>

</section>